.hero__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 0 20px 0;
  margin-left: 158px ;
  margin-right: 167px;
}

.hero__bottom-buttons {
  display: flex;
  justify-content: center;
  //opacity: 0.5;
}

.scroll-down-btn {
  background: transparent;
  color: white;
}

.hero__triangle {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%
}


