.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 64px 0 128px 0;
  height: 100vh;
  min-height: 650px;
}

.hero__bottom-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.scroll-down-btn {
  background: transparent;
  color: white;
}

.hero__triangle {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%
}


