.user__avatar {
  width: 200px;
  height: 200px;
  margin-left: 10%;
}
.user__data-title {
  color: white;
  opacity: 0.5;
  padding: 7px 0;
}

.user__data {
  margin-top: 65px;
}

.user__data-row {
  margin-bottom: 19px;
}

.user__data-content {
  padding: 7px 0 7px 80px;
}
