include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .main-slide
      header.header
        .container
          .header__wrap.fullscreen-section
            .header__top
              span.logo ЖА
              //.header__nav
              +nav('nav', ["Обо мне", "Навыки", "Работы", "Отзывы"])
              //.header__socials
              +socials('socials')
            .header__middle
              h1.header__title Жданова <br> Александра
              span.header__subtitle Личный сайт <br> веб-разработчика
            .header__bottom
              button.header__button
                span.header__prompt Скролл
                +icon('scroll','scroll')
